@import './styles/fonts/JosefinSans.scss';
@import './styles/variables.scss';
@import './styles/app.scss';

html {
  scroll-behavior: smooth;
}

body {
  color: $grey;
  background-color: $black;
  font-family: 'Josefin Sans', sans-serif;
}

@import './styles/bootstrap-overwrite.scss';
@import '~bootstrap/dist/css/bootstrap.css';